:root {
    --accent0: #f03e4d;
    --accent1: #f37735;
    --accent2: #eeba21;
    --accent3: #97bd2d;
    --accent4: #1fc598;
    --accent5: #53a6e1;
    --accent6: #bf65f0;
    --accent7: #ee4eb8;
    --shade0: #fffcff;
    --shade1: #e0dce0;
    --shade2: #c1bcc2;
    --shade3: #a29da3;
    --shade4: #847e85;
    --shade5: #656066;
    --shade6: #474247;
    --shade7: #282629;
}
