:root {
    --accent0: #ff4050;
    --accent1: #f28144;
    --accent2: #ffd24a;
    --accent3: #a4cc35;
    --accent4: #26c99e;
    --accent5: #66bfff;
    --accent6: #cc78fa;
    --accent7: #f553bf;
    --shade0: #282629;
    --shade1: #474247;
    --shade2: #656066;
    --shade3: #847e85;
    --shade4: #a29da3;
    --shade5: #c1bcc2;
    --shade6: #e0dce0;
    --shade7: #fffcff;
}
