:root {
    --accent0: #c65967;
    --accent1: #d3873b;
    --accent2: #e5be31;
    --accent3: #97b55a;
    --accent4: #76a377;
    --accent5: #6484b5;
    --accent6: #995785;
    --accent7: #ac7155;
    --shade0: #2a2021;
    --shade7: #edebee;
    --shade1: #463d3e;
    --shade2: #625a5c;
    --shade3: #7e7779;
    --shade4: #999496;
    --shade5: #b5b1b3;
    --shade6: #d1ced1;
}
