:root {
    --accent0: #ba394a;
    --accent1: #d3833f;
    --accent2: #ba991a;
    --accent3: #78992a;
    --accent4: #509b6b;
    --accent5: #485a9f;
    --accent6: #813d72;
    --accent7: #a1684f;
    --shade0: #edebee;
    --shade7: #2a2021;
    --shade1: #d1ced1;
    --shade2: #b5b1b3;
    --shade3: #999496;
    --shade4: #7e7779;
    --shade5: #625a5c;
    --shade6: #463d3e;
}
