:root {
    --accent0: #ef4e7c;
    --accent1: #f37055;
    --accent2: #f79532;
    --accent3: #6ebb82;
    --accent4: #09b399;
    --accent5: #1299ad;
    --accent6: #5073b8;
    --accent7: #a067ab;
    --shade0: #23292d;
    --shade7: #fdfdfd;
    --shade1: #42474b;
    --shade2: #616668;
    --shade3: #808486;
    --shade4: #a0a2a4;
    --shade5: #bfc0c2;
    --shade6: #dedfdf;
}
