:root {
    --accent0: #ff8e7d;
    --accent1: #ffc36d;
    --accent2: #ffdf67;
    --accent3: #a3d971;
    --accent4: #55bba7;
    --accent5: #80bbe7;
    --accent6: #b490b6;
    --accent7: #f6b4c8;
    --shade0: #3d4752;
    --shade1: #505c6a;
    --shade2: #77818d;
    --shade3: #a5a5a5;
    --shade4: #afb1b3;
    --shade5: #cdced1;
    --shade6: #e6e6e6;
    --shade7: #ffffff;
}
