:root {
    --accent0: #cb2735;
    --accent1: #f28c00;
    --accent2: #fec31d;
    --accent3: #79b63f;
    --accent4: #05977d;
    --accent5: #007dbc;
    --accent6: #843f88;
    --accent7: #e05c84;
    --shade0: #ffffff;
    --shade1: #e6e6e6;
    --shade2: #cdced1;
    --shade3: #afb1b3;
    --shade4: #a5a5a5;
    --shade5: #77818d;
    --shade6: #505c6a;
    --shade7: #3d4752;
}
