:root {
    --accent0: #ab5b51;
    --accent1: #b97b49;
    --accent2: #c49f47;
    --accent3: #82ab55;
    --accent4: #59b07f;
    --accent5: #70a4b9;
    --accent6: #9d7a9a;
    --accent7: #b2889b;
    --shade0: #edebe8;
    --shade7: #42483e;
    --shade1: #d5d4d0;
    --shade2: #bcbcb7;
    --shade3: #a4a59f;
    --shade4: #8b8e87;
    --shade5: #73776f;
    --shade6: #5a5f56;
}
