:root {
    --accent0: #e29288;
    --accent1: #e4a572;
    --accent2: #dbb66d;
    --accent3: #a4cc78;
    --accent4: #71ca98;
    --accent5: #7eb9d0;
    --accent6: #bb91b7;
    --accent7: #c08da4;
    --shade0: #48463e;
    --shade7: #e0e2dd;
    --shade1: #5e5c55;
    --shade2: #73736b;
    --shade3: #898982;
    --shade4: #9f9f99;
    --shade5: #b5b5b0;
    --shade6: #caccc6;
}
