:root {
    --accent0: #ca3e5a;
    --accent1: #d8843e;
    --accent2: #ebb062;
    --accent3: #81a559;
    --accent4: #42abab;
    --accent5: #4496cd;
    --accent6: #9770b2;
    --accent7: #b35d8d;
    --shade0: #13222e;
    --shade7: #acbecc;
    --shade1: #293845;
    --shade2: #3f4f5b;
    --shade3: #556572;
    --shade4: #6a7b88;
    --shade5: #80919f;
    --shade6: #96a8b5;
}
