:root {
    --shade0: #3c4c55;
    --shade1: #495a64;
    --shade2: #556873;
    --shade3: #6a7d89;
    --shade4: #899ba6;
    --shade5: #a7b8c2;
    --shade6: #c5d4dd;
    --shade7: #e6eef3;
    --accent0: #df8c8c;
    --accent1: #f2c38f;
    --accent2: #dada93;
    --accent3: #a8ce93;
    --accent4: #7fc1ca;
    --accent5: #83afe5;
    --accent6: #9a93e1;
    --accent7: #d18ec2;
}
