:root {
    --accent0: #e11418;
    --accent1: #e0530d;
    --accent2: #d2a623;
    --accent3: #61ab16;
    --accent4: #06b38b;
    --accent5: #34a4e7;
    --accent6: #a549cd;
    --accent7: #cc52ad;
    --shade0: #dbf7ff;
    --shade7: #3e444f;
    --shade1: #c5dde6;
    --shade2: #aec4cd;
    --shade3: #98aab4;
    --shade4: #81919a;
    --shade5: #6b7781;
    --shade6: #545e68;
}
