:root {
    --accent0: #f59597;
    --accent1: #f2b494;
    --accent2: #f2db94;
    --accent3: #c8f29d;
    --accent4: #94f2dd;
    --accent5: #94cef2;
    --accent6: #db9cf7;
    --accent7: #f79ce0;
    --shade0: #44484f;
    --shade7: #c7f3ff;
    --shade1: #576068;
    --shade2: #697981;
    --shade3: #7c919a;
    --shade4: #8faab4;
    --shade5: #a2c2cd;
    --shade6: #b4dbe6;
}
